span{
    margin-left: 2%;
    margin-right: 0;
    padding-right: 0;
}

#text{
    color: white;
}

#textLink{
    color: white;
}

#textLink:hover{
    color: rgb(185, 177, 192);
}

#bg{
    background-color: rgb(91,50,86)!important;
    font-weight: bolder!important;
}